<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!-- using the templating-->
<head th:replace="fragments/header :: header"> </head>
<body class="set_height">
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">

        <h3> Open data ! </h3>
        <p> Data from South Tyrol, with a focus on environment data.</p>
</div>
<div class="album py-5 bg-light">
	<div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" th:src="@{/images/uv.jpg}" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Historical UV DATA</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" th:href="@{/show_visuals}">SHOW UV DATA</a>
                            </div>
                            <small class="text-muted">Line graph</small>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" th:src="@{/images/pollen.jpg}" data-holder-rendered="true">
						<div class="card-body">
							<p class="card-text">Historical Weekly Pollen</p>
							<div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/show_pollen}">SHOW POLLEN</a>
                                </div>
								<small class="text-muted">Bar Graph</small>
							</div>
						</div>
					</div>
				</div>
			<div class="col-md-4">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" th:src="@{/images/info.jpg}" data-holder-rendered="true">
					<div class="card-body">
						<p class="card-text">Learn More</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a class="btn btn-sm btn-outline-secondary" th:href="@{/about}">Learn More about the data</a>
							</div>
							<small class="text-muted">Informational</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>