<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Open Data</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body class="set_height">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
	<a class="navbar-brand" href="#">OPEN VISUALIZATION DATA</a>
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="#">LOGIN</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/registration}">REGISTER</a>
		</li>
	</ul>
</nav>
<div class="container-fluid margin-top">
    <h3> Open data ! </h3>
	<div class="container-fluid">
		<div class="row">
		 <div class="col-sm-4" style="background-color:lavender;">UV Radiation
             <img th:src="@{/images/sunblock.svg}" class="img-responsive center-block"/>
         </div>
		 <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
		 <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
		</div>
		<div class="row">
		  <div class="col-sm-4">Graph 1</div>
		  <div class="col-sm-4">Graph 2</div>
		  <div class="col-sm-4">Graph 3</div>
		</div>
	</div>
</div>
</body>
</html>