<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body class="set_height">
<div th:replace="fragments/navigation :: navigation"></div>
<script th:src="@{/js/show_cart.js}"> </script>
<div class="album py-5 bg-light" style="padding-top: 1rem!important;">
   <div class="container">
      <h3> Your cart </h3>
      <div class="row">
          <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Your cart contains</h5>
                        <p></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">Your custom requests</h5>
                  <div id="special_requests"> </div>
              </div>
          </div> </div>
      </div>
   </div>
</div>
</body>
</html>